.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.navbar{
  height: 100px;
  background-color:rgb(51, 51, 51);
  color: whitesmoke;
  margin-bottom: 15px;
  text-align: center;
  font-size: 30px;
  justify-content: center;
  align-items: center;
}
body{
  margin:0;
}